#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
  }

.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    width: auto;
    height: 90px;
}

.brandLogo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.brandLogo img {
    width: 80px;
    height: 80px;
    padding: 10px;
}

.itemList {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    list-style: none;
}

.carritoIcono img {
    width: 55px;
    height: 50px;
    padding: 10px;
}

.containerCartas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
  }

.carruselContainer {
    display: flex;
    justify-content: center;
}